<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

user List <button id="add">+</button> <br>
{%  for d in data %}
    이름  {{d.name}}    age {{d.age}}  <a href="listuser?userid={{d.userid}}"> 삭제</a>  <br>
{% endfor %}
<form action="listuser" >
     <input type="text" name="q">
     <input type="submit" value="검색">
</form>
<div id="layer">
<form action="listuser" method="post">
    {% csrf_token %}
     <input type="text" name="userid" >
     <input type="text" name="name" >
     <input type="text" name="age" >
     <input type="text" name="hobby" >
     <input type="submit" value="Add">
</form>
</div>

<script>
    $("#layer").hide()
    $("#add").click( function() {
        $("#layer").toggle()
    });
</script>